
.Front{
    display: flex;
    flex-direction: column;
}
#Top{
    height: 60px;
    background-color: white;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: auto;
}
.InnerTop{ 
    float: right;
    /*display: inline-block; */
    align-items: baseline;
    margin: auto;
    padding-right: 1px;
    margin-left: auto;
    height: 30px;

}
#LogoArea{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    min-height: 92px;
    height: 350px;
    padding-bottom: 1px;
}
#LogoInner{
    margin-top: auto;
    max-height: 92px;
}

#Scenter{
    text-align: center;
    width: 100%;
    align-items: center;
    padding-top: 10px;
    margin: auto;
}
.SearchField{
    margin: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #dfe1e5;
    border-radius: 24px;
    height: 44px;
    max-width: 584px;
    display: inline-block;
}
.SearchField:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);       /*When the selector pass over the box, it animate a shadow*/
}
#Glass{
    width: 34px;
    height: 34px;
    border: none;
    background-color: transparent;
    margin-top: 5px;
    margin-left: 10px;
    padding-top: 5px;
    display: inline-block;
    align-items: center;
}
#buscador{
    height: 34px;
    min-width: 450px;  
    border: none;
    background-color: transparent;
    display: inline-block;
    position: relative;
    top: -7px;
}
#buscador:focus{
    outline: none;                      /*To eliminate the border when selected*/
}

#button{
    border-radius: 4px;
    border-color: transparent;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    background-color: #f8f9fa;   
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
#button:hover{
    /*border-color: grey;*/
    box-shadow: 0 1px 2px grey;
    background-color: #f8f9fa;    
}

body, a, input{
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: 14;*/
}
body{
    height: 100%;
    margin: 0;
}
a{
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    margin: 5px;
    text-align: right;
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
}
a:hover{
    text-decoration: underline;
}